
h1 {
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
}


.col-sm-4 {
  margin: 0px 0px 0px 0px;
  padding: 50px;
}

.sidebar1 {
    background: url("night-sky.jpg");
    background-color: #860d79;
    background-size: cover;
  /* for a gradient sidebar, use the below code
    background: #F17153;
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
    text-align: center;
}

.logo {
    max-height: 175px;
    border-radius: 100px;
    padding: 3px;
    border: 1px solid white;
    margin-top: 40px;
}

li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

li a:link{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


li a:hover{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:visited{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:active{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

i {
  color: white;
}



.list {
    color: white;
    padding-left: 0px;
    font-size: 20px;
    text-decoration: none;

}

/*
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
*/

/*

.list> li {
    padding: 0px 0px 5px 0px;
    list-style: none;
    text-decoration: none;
}

*/

.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    font-weight: bolder;
    padding-left: 35px;

}

.about-picture {
  padding-left: 100px;
}

.main-content{
  text-align:center;
}

/* Below CSS for modal images in gallery*/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    color: white;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
