
h1 {
  text-align: center;
  color: white;
  font-family: 'Pacifico', cursive;
}


.col-sm-4 {
  margin: 0px 0px 0px 0px;
  padding: 50px;
}

.sidebar1 {
    background: url("night-sky.jpg");
    background-color: #860d79;
    background-size: cover;
  /* for a gradient sidebar, use the below code
    background: #F17153;
    /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
    text-align: center;
}

.logo {
    max-height: 175px;
    border-radius: 100px;
    padding: 3px;
    border: 1px solid white;
    margin-top: 40px;
}

li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

li a:link{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}


li a:hover{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:visited{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:active{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

i {
  color: white;
}



.list {
    color: white;
    padding-left: 0px;
    font-size: 20px;
    text-decoration: none;

}

/*
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
*/

/*

.list> li {
    padding: 0px 0px 5px 0px;
    list-style: none;
    text-decoration: none;
}

*/

.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    font-weight: bolder;
    padding-left: 35px;

}

.about-picture {
  padding-left: 100px;
}

.main-content{
  text-align:center;
}

/* Below CSS for modal images in gallery*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*.gallery {
  margin: auto;
  padding: 20px;

}
*/

.classy {
  padding: 10px;
  margin-top: 30px;
  margin-left: 80px;
}
